*{
    margin: 2px;
    padding: 2px;
}
/* body{
    background: url(./img/images.jpeg)no-repeat center center/cover;
} */
#firstSubContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* #main-container h2,
#main-container h3{
    font-family: 'Bree Serif', serif;
} */

.logo{
    font-family: 'Rubik Burned', system-ui;
    cursor: context-menu;
    

}
.logout{
    margin-top: 20px;
    margin-right: 30px;
}
.logoutbutton {
    border-radius: 7px;
    padding: 5px 10px;
    /* border: none; */
}


.titleAndCategory .input input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

.titleAndCategory{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

#category{
    margin-right: 100px;
}

#thirdSubContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 50px;
}

.radio-button{
    margin: 20px;
    /* padding-left: 20px; */
}

.button{
    text-decoration: none;
    color: black;
    /* border-radius: 7px;
    padding: 5px 10px; */
}


.save-btn ,
.cancel-btn{
    border-radius: 7px;
    padding: 5px 10px;
}


.button .save-btn:hover,
.button .logoutbutton:hover,
.button .cancel-btn:hover,
.button .js-btn:hover,
.button .html-btn:hover{
    color: white;
    background: black;
    cursor: pointer;
}


.js-btn{
    border-radius: 7px;
    padding: 5px 35px;

}
.html-btn{
    border-radius: 7px;
    padding: 5px 52px;
   
}

